In [1]:
%matplotlib inline

from utils import *

In [2]:
pop_data     = pandas.read_csv(
    locate('data/New_York_City_Population_By_Neighborhood_Tabulation_Areas.csv')).groupby(
['NTA Code',
'NTA Name']
).apply(lambda x :
       pandas.Series(
       {'pop_2000':x.query('Year==2000').Population.mean(),
       'pop_2010':x.query('Year==2010').Population.mean()})).reset_index()
    
print(pop_data.shape)
pop_data.head()

(195, 4)

  NTA Code                                     NTA Name  pop_2000  pop_2010
0     BK09                 Brooklyn Heights-Cobble Hill   22548.0   22887.0
1     BK17  Sheepshead Bay-Gerritsen Beach-Manhattn Bch   64596.0   64518.0
2     BK19                               Brighton Beach   35244.0   35547.0
3     BK21                         Seagate-Coney Island   34267.0   31965.0
4     BK23                                West Brighton   17370.0   17750.0

In [3]:

shapes = geopandas.read_file(
    locate('data/NTA map.geojson'))
print(shapes.shape)

shapes.head()

(195, 8)

,ntacode,shape_area,ntaname,shape_leng,boroname,borocode,countyfips,geometry
0,BK43,35799637.8103,Midwood,27996.5912736,Brooklyn,3,047,(POLYGON ((-73.94732672160586 40.6291665672094...
1,BK75,32629833.1149,Bedford,29992.9191744,Brooklyn,3,047,(POLYGON ((-73.94193078816201 40.7007252346955...
2,BX40,6307283.62202,Fordham South,15878.2729212,Bronx,2,005,(POLYGON ((-73.89138023380268 40.8617005882630...
3,BK88,54005019.2286,Borough Park,39247.227722,Brooklyn,3,047,(POLYGON ((-73.9760493559142 40.63127590564666...
4,BK96,32706946.4035,Rugby-Remsen Village,30957.8533949,Brooklyn,3,047,(POLYGON ((-73.90855790522774 40.6520959377945...

In [4]:
roads = geopandas.read_file(
    locate('data/road.geojson')
)[[u'physicalid',u'geometry']]
print(roads.shape)

roads.head()

(117191, 2)

  physicalid                                           geometry
0      37785  LINESTRING (-73.98027180261785 40.685958254199...
1       7141  LINESTRING (-73.84554250435114 40.739657802135...
2      38225  LINESTRING (-73.96582204725706 40.688209422824...
3     166986  LINESTRING (-73.85196038837651 40.574280057286...
4      97055  LINESTRING (-73.86924838521583 40.740570212006...

In [5]:
popshapes = geopandas.GeoDataFrame(shapes.merge(
    pop_data,
    how ='left',
    right_on = 'NTA Code',
    left_on='ntacode'
).assign(
evpop = lambda DF : (
    DF.pop_2010 -DF.pop_2000
)/DF.pop_2000
).fillna(0)[
    ['ntacode','ntaname','shape_area','shape_leng','pop_2000','pop_2010','evpop','geometry']
])
print(popshapes.shape)
popshapes.head()

(195, 8)

,ntacode,ntaname,shape_area,shape_leng,pop_2000,pop_2010,evpop,geometry
0,BK43,Midwood,35799637.8103,27996.5912736,55440.0,52835.0,-0.046988,(POLYGON ((-73.94732672160586 40.6291665672094...
1,BK75,Bedford,32629833.1149,29992.9191744,59227.0,70713.0,0.193932,(POLYGON ((-73.94193078816201 40.7007252346955...
2,BX40,Fordham South,6307283.62202,15878.2729212,26880.0,28262.0,0.051414,(POLYGON ((-73.89138023380268 40.8617005882630...
3,BK88,Borough Park,54005019.2286,39247.227722,101055.0,106357.0,0.052466,(POLYGON ((-73.9760493559142 40.63127590564666...
4,BK96,Rugby-Remsen Village,32706946.4035,30957.8533949,57934.0,55326.0,-0.045017,(POLYGON ((-73.90855790522774 40.6520959377945...

In [6]:
popshapes.tail()

,ntacode,ntaname,shape_area,shape_leng,pop_2000,pop_2010,evpop,geometry
190,BX63,West Concourse,19369542.2241,28550.7003701,39557.0,39282.0,-0.006952,(POLYGON ((-73.91191812320277 40.8432578866849...
191,QN17,Forest Hills,57828447.5721,36183.6078275,85046.0,83728.0,-0.015497,(POLYGON ((-73.83103141767994 40.7143367252613...
192,QN99,park-cemetery-etc-Queens,311684971.61,490146.60402,1785.0,436.0,-0.755742,(POLYGON ((-73.86522555434871 40.5704584724939...
193,QN03,Springfield Gardens South-Brookville,43263751.4662,45266.2678751,18950.0,20132.0,0.062375,(POLYGON ((-73.75763129618157 40.6664511566070...
194,QN98,Airport,227761739.733,134833.935261,0.0,0.0,0.000000,(POLYGON ((-73.74712154262478 40.6371622757079...

In [7]:
ids         = RightSpatialJoin(
    L_bounds=popshapes.geometry.apply(lambda x : x.bounds),
    R_bounds=roads.geometry.apply(lambda x : x.bounds))

In [8]:
popshapes[
    'nb_roads'
         ] = ids.apply(lambda x : roads.loc[x].physicalid.unique().shape[0])
del(roads)
del(ids)
del(shapes)
del(pop_data)

In [9]:
popshapes

,ntacode,ntaname,shape_area,shape_leng,pop_2000,pop_2010,evpop,geometry,nb_roads
0,BK43,Midwood,35799637.8103,27996.5912736,55440.0,52835.0,-0.046988,(POLYGON ((-73.94732672160586 40.6291665672094...,692
1,BK75,Bedford,32629833.1149,29992.9191744,59227.0,70713.0,0.193932,(POLYGON ((-73.94193078816201 40.7007252346955...,770
2,BX40,Fordham South,6307283.62202,15878.2729212,26880.0,28262.0,0.051414,(POLYGON ((-73.89138023380268 40.8617005882630...,346
3,BK88,Borough Park,54005019.2286,39247.227722,101055.0,106357.0,0.052466,(POLYGON ((-73.9760493559142 40.63127590564666...,1447
4,BK96,Rugby-Remsen Village,32706946.4035,30957.8533949,57934.0,55326.0,-0.045017,(POLYGON ((-73.90855790522774 40.6520959377945...,1223
5,QN52,East Flushing,29454379.9663,25843.3649557,26516.0,26982.0,0.017574,(POLYGON ((-73.79493246234003 40.7577980300745...,538
6,QN53,Woodhaven,37001316.6276,28070.5855484,54149.0,56674.0,0.046631,(POLYGON ((-73.84913837242911 40.6982827412019...,1091
7,BK44,Madison,27379161.9978,26237.257341,39076.0,38917.0,-0.004069,(POLYGON ((-73.93753749374048 40.6085573902575...,678
8,QN48,Auburndale,34164217.5747,32446.878673,20201.0,19996.0,-0.010148,(POLYGON ((-73.77573836927105 40.7433256471640...,1489
9,BX44,Williamsbridge-Olinville,36273563.8081,27350.9739448,57420.0,61321.0,0.067938,(POLYGON ((-73.84704957988549 40.8876718158794...,884
10,QN51,Murray Hill,52488277.0737,33266.9048112,53009.0,51739.0,-0.023958,(POLYGON ((-73.80379022888253 40.7756101117925...,1288
11,QN27,East Elmhurst,19726846.1,19816.7121095,21183.0,23150.0,0.092857,(POLYGON ((-73.86109724401761 40.7636644775902...,565
12,BK81,Brownsville,32730861.1091,27300.781233,59099.0,58300.0,-0.013520,(POLYGON ((-73.89880698433517 40.6574066618045...,1194
13,BK85,East New York (Pennsylvania Ave),19397527.2993,24226.8507771,27624.0,29343.0,0.062228,(POLYGON ((-73.89880698433517 40.6574066618045...,864
14,BK41,Kensington-Ocean Parkway,15893349.4386,20800.5560754,36937.0,36891.0,-0.001245,(POLYGON ((-73.97482741755584 40.6456634208681...,483
15,BX46,Parkchester,9180655.23178,12373.255538,29353.0,29821.0,0.015944,(POLYGON ((-73.86033845846154 40.8332531664860...,317
16,BK95,Erasmus,14522599.5,18756.7023071,31392.0,29938.0,-0.046318,(POLYGON ((-73.9482649959084 40.63860719071172...,325
17,QN33,Cambria Heights,33076798.044,26168.2695395,20944.0,18677.0,-0.108241,(POLYGON ((-73.72677759533717 40.7030592919014...,712
18,BK91,East Flatbush-Farragut,34362243.1564,39211.4116801,56033.0,50355.0,-0.101333,(POLYGON ((-73.92574389425866 40.6400144662498...,769
19,BK46,Ocean Parkway South,17782031.8681,21975.9979842,20556.0,20299.0,-0.012502,(POLYGON ((-73.96285973961463 40.6125494864670...,356
20,BK93,Starrett City,11598945.8236,17414.7816329,14621.0,13354.0,-0.086656,(POLYGON ((-73.88828531356063 40.6467224132760...,255
21,BX35,Morrisania-Melrose,16891753.5163,27740.8457413,29797.0,37865.0,0.270766,(POLYGON ((-73.89696589084865 40.8343421458952...,924
22,QN29,Elmhurst,32671507.7066,36705.0164396,87972.0,88427.0,0.005172,(POLYGON ((-73.86790963860365 40.7449337165884...,1361
23,MN22,East Village,10895491.3668,13539.1976325,41746.0,44136.0,0.057251,(POLYGON ((-73.98255629297823 40.7313501340520...,370
24,QN44,Glen Oaks-Floral Park-New Hyde Park,45665592.1293,33596.5266311,22426.0,22571.0,0.006466,(POLYGON ((-73.7104999536208 40.72722708741325...,1215
25,BX33,Longwood,10732451.8442,18982.1293006,23082.0,26196.0,0.134910,(POLYGON ((-73.8948352292406 40.82624684121225...,412
26,MN32,Yorkville,13594779.7698,17409.2101147,76768.0,77942.0,0.015293,(POLYGON ((-73.93804640603445 40.7808295442755...,363
27,MN40,Upper East Side-Carnegie Hill,20065329.4877,23778.406402,63664.0,61207.0,-0.038593,(POLYGON ((-73.94933170560962 40.7851931265576...,799
28,BK40,Windsor Terrace,14041611.8205,19033.5401625,20779.0,20988.0,0.010058,(POLYGON ((-73.97984261884459 40.6607274411314...,467
29,QN12,Hammels-Arverne-Edgemere,61904116.8013,83820.1206501,31645.0,36885.0,0.165587,(POLYGON ((-73.76809925805183 40.5978459701097...,1155
...,...,...,...,...,...,...,...,...,...
165,BX17,East Tremont,19256405.1623,29637.3282949,39280.0,43423.0,0.105474,(POLYGON ((-73.88311982503737 40.8482210923792...,776
166,BX22,North Riverdale-Fieldston-Riverdale,49046259.9597,31856.0941426,28013.0,27860.0,-0.005462,(POLYGON ((-73.89663333796997 40.9114173753482...,814
167,BX05,Bedford Park-Fordham North,14998883.2414,22565.4821998,55329.0,54415.0,-0.016519,(POLYGON ((-73.88362518063384 40.8672575880063...,749
168,BX06,Belmont,13557354.9494,17114.4303363,25967.0,27378.0,0.054338,(POLYGON ((-73.8830938237215 40.86660218502373...,417
169,BX03,Eastchester-Edenwald-Baychester,40256749.6627,59165.004771,35422.0,34517.0,-0.025549,(POLYGON ((-73.79322870948383 40.8828225954082...,1765
170,QN10,Breezy Point-Belle Harbor-Rockaway Park-Broad ...,99449481.6554,114076.63551,26711.0,28018.0,0.048931,(POLYGON ((-73.88346534749665 40.5684780199384...,3072
171,BX75,Crotona Park East,16316218.0219,24754.7594376,18072.0,20277.0,0.122012,(POLYGON ((-73.87359713633835 40.8397985559359...,847
172,SI32,Rossville-Woodrow,64959465.3375,33239.3302003,18894.0,20763.0,0.098920,(POLYGON ((-74.20314825968633 40.5560617846177...,1185
173,SI48,Arden Heights,50407530.0454,29689.4459114,24996.0,25238.0,0.009682,(POLYGON ((-74.17185166456863 40.5615209230212...,1146
174,QN15,Far Rockaway-Bayswater,54348630.0105,49211.1082765,48344.0,50058.0,0.035454,(POLYGON ((-73.76376223381337 40.5914397095349...,970
175,BX09,Soundview-Castle Hill-Clason Point-Harding Park,51958970.2168,67150.4777794,50753.0,53686.0,0.057790,(POLYGON ((-73.88054585187352 40.8184680223607...,1548
176,BX99,park-cemetery-etc-Bronx,220896061.306,224026.901822,540.0,1906.0,2.529630,(POLYGON ((-73.86958054803944 40.8162777295935...,13515
177,BK33,Carroll Gardens-Columbia Street-Red Hook,44600270.3423,60795.9114169,38327.0,38353.0,0.000678,"(POLYGON ((-73.99236367043254 40.689690123777,...",1325
178,MN99,park-cemetery-etc-Manhattan,91540542.1537,155018.564315,1662.0,1849.0,0.112515,(POLYGON ((-74.01092841268037 40.6844914725429...,24252
179,QN05,Rosedale,61614930.5798,63276.6435168,25502.0,25063.0,-0.017214,(POLYGON ((-73.72586264116346 40.6832410809463...,2217
180,QN22,Flushing,37864843.049,38363.9700068,69362.0,72008.0,0.038148,(POLYGON ((-73.82331286855246 40.7795786598340...,1125
181,QN62,Queensboro Hill,26555669.1998,30555.408574,19309.0,20800.0,0.077218,(POLYGON ((-73.81537317355691 40.7472183378597...,838
182,MN13,Hudson Yards-Chelsea-Flatiron-Union Square,37029727.2874,45454.7228021,55839.0,70150.0,0.256290,(POLYGON ((-74.00153309066991 40.7626445986302...,1287
183,MN21,Gramercy,7531454.90511,12091.5879316,26184.0,27988.0,0.068897,(POLYGON ((-73.97849845639811 40.7367909565254...,305
184,BK38,DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill,28462565.7562,32363.9903046,30847.0,34495.0,0.118261,(POLYGON ((-73.97905767012286 40.7059528891006...,1308
185,BK69,Clinton Hill,20528139.3756,23971.4614104,33292.0,34791.0,0.045026,(POLYGON ((-73.95337017508868 40.6806405084443...,510
186,BK72,Williamsburg,11589988.0403,16874.4335788,32269.0,32926.0,0.020360,(POLYGON ((-73.95023693757921 40.7054732466545...,485
187,BK99,park-cemetery-etc-Brooklyn,228790857.479,394313.013412,93.0,418.0,3.494624,(POLYGON ((-73.91513331918202 40.5862693854007...,28805
188,MN36,Washington Heights South,23100222.7507,22096.3050294,93671.0,84438.0,-0.098568,(POLYGON ((-73.93139355315769 40.8474282314094...,959
189,BX26,Highbridge,16457230.3638,18507.4239276,33844.0,37727.0,0.114732,(POLYGON ((-73.91728719351073 40.8451040861595...,789
190,BX63,West Concourse,19369542.2241,28550.7003701,39557.0,39282.0,-0.006952,(POLYGON ((-73.91191812320277 40.8432578866849...,1662
191,QN17,Forest Hills,57828447.5721,36183.6078275,85046.0,83728.0,-0.015497,(POLYGON ((-73.83103141767994 40.7143367252613...,2064
192,QN99,park-cemetery-etc-Queens,311684971.61,490146.60402,1785.0,436.0,-0.755742,(POLYGON ((-73.86522555434871 40.5704584724939...,46300
193,QN03,Springfield Gardens South-Brookville,43263751.4662,45266.2678751,18950.0,20132.0,0.062375,(POLYGON ((-73.75763129618157 40.6664511566070...,1297
194,QN98,Airport,227761739.733,134833.935261,0.0,0.0,0.000000,(POLYGON ((-73.74712154262478 40.6371622757079...,30461

In [10]:
class GetFeatures:
    def __init__(
        self,
        filepath,
        popshapes                 = popshapes,
        readargs                  = readargs,
        writeargs                 = writeargs):
        self.writeargs            = writeargs
        self.filepath             = filepath
        self.df                   = pandas.read_hdf(filepath,**readargs).dropna()
        self.df                   = self.df.assign(
        geometry                  = [shapely.geometry.LineString([x,y])
                                     for x,y in
                                     tqdm.tqdm(zip(self.df[
                                         ['pickup_longitude','pickup_latitude']
                                     ].values,
                                                   self.df[
                                                       ['dropoff_longitude','dropoff_latitude']
                                                   ].values))]
        ).astype(
        {'pickup_datetime':'datetime64[ns]'}).assign(
                dist               = lambda DF : geopandas.GeoSeries(DF.geometry).length,
                dayofweek          = lambda DF : DF.pickup_datetime.dt.dayofweek,
                dayofyear          = lambda DF : DF.pickup_datetime.dt.dayofyear,
                hour               = lambda DF : DF.pickup_datetime.dt.hour,
                month              = lambda DF : DF.pickup_datetime.dt.month,
                 weekofyear        = lambda DF : DF.pickup_datetime.dt.weekofyear,
                        year       = lambda DF : DF.pickup_datetime.dt.year).reset_index(drop=True)
        self.numcols               = ['pop_2010','nb_roads']
        self.popshapes             = popshapes
    def matchGeoShapes(self):
            ids2                   = RightSpatialJoin(
            L_bounds               = self.df.geometry.apply(lambda x : x.bounds),
            R_bounds               = self.popshapes.geometry.apply(lambda x : x.bounds))
            result                 = self.popshapes[self.numcols].loc[[ h for x in ids2 for h in x]]
            result['row_id']       = [index
                                      for item in ids2.iteritems() 
                                      for index
                                      in [item[0]]*len(item[1])]
            self.result            = pandas.DataFrame({'row_id': [x for x in range(len(ids2))]}
            ).merge(result,how     ='left',on='row_id').fillna(0
                                                         ).pipe(
                lambda R : pandas.DataFrame(
                 {'pop_2010_mean'  : R.groupby('row_id').pop_2010.mean(),
                  'nb_roads_mean'  : R.groupby('row_id').nb_roads.mean(),
                  'pop_2010_sum'   : R.groupby('row_id').pop_2010.sum(),
                 'nb_roads_sum'    : R.groupby('row_id').nb_roads.sum(),
                 'pop_2010_min'    : R.groupby('row_id').pop_2010.min(),
                 'nb_roads_min'    : R.groupby('row_id').nb_roads.min(),
                 'pop_2010_max'    : R.groupby('row_id').pop_2010.max(),
                 'nb_roads_max'    : R.groupby('row_id').nb_roads.max()}))
            pandas.concat(
                    [self.df,self.result]
                    ,axis=1).to_hdf(self.filepath,**self.writeargs)

In [ ]:





def main(max_workers,Task):
    with Cfut.ProcessPoolExecutor(max_workers=max_workers) as executor:
        executor.map(Task, range(max_workers))

if __name__ == '__main__'           :
    max_workers                     = 4
    trainfiles                      = pandas.np.array_split(H5('train'),max_workers)
    def Task(n,tf=trainfiles)       :
        traineloop                  = tf[n]
        map(lambda f                : GetFeatures(f).matchGeoShapes(),traineloop)
    main(max_workers,Task=Task)

In [51]:
pandas.np.array_split(H5('train'),1)

[array(['/Users/akamara/Downloads/new-york-city-taxi-fare-prediction/ml/src/data/train/20.h5',
        '/Users/akamara/Downloads/new-york-city-taxi-fare-prediction/ml/src/data/train/14.h5',
        '/Users/akamara/Downloads/new-york-city-taxi-fare-prediction/ml/src/data/train/9.h5',
        '/Users/akamara/Downloads/new-york-city-taxi-fare-prediction/ml/src/data/train/10.h5',
        '/Users/akamara/Downloads/new-york-city-taxi-fare-prediction/ml/src/data/train/24.h5',
        '/Users/akamara/Downloads/new-york-city-taxi-fare-prediction/ml/src/data/train/8.h5',
        '/Users/akamara/Downloads/new-york-city-taxi-fare-prediction/ml/src/data/train/11.h5',
        '/Users/akamara/Downloads/new-york-city-taxi-fare-prediction/ml/src/data/train/25.h5',
        '/Users/akamara/Downloads/new-york-city-taxi-fare-prediction/ml/src/data/train/21.h5',
        '/Users/akamara/Downloads/new-york-city-taxi-fare-prediction/ml/src/data/train/15.h5',
        '/Users/akamara/Downloads/new-york-city-taxi-fare-prediction/ml/src/data/train/7.h5',
        '/Users/akamara/Downloads/new-york-city-taxi-fare-prediction/ml/src/data/train/3.h5',
        '/Users/akamara/Downloads/new-york-city-taxi-fare-prediction/ml/src/data/train/2.h5',
        '/Users/akamara/Downloads/new-york-city-taxi-fare-prediction/ml/src/data/train/6.h5',
        '/Users/akamara/Downloads/new-york-city-taxi-fare-prediction/ml/src/data/train/1.h5',
        '/Users/akamara/Downloads/new-york-city-taxi-fare-prediction/ml/src/data/train/18.h5',
        '/Users/akamara/Downloads/new-york-city-taxi-fare-prediction/ml/src/data/train/5.h5',
        '/Users/akamara/Downloads/new-york-city-taxi-fare-prediction/ml/src/data/train/28.h5',
        '/Users/akamara/Downloads/new-york-city-taxi-fare-prediction/ml/src/data/train/4.h5',
        '/Users/akamara/Downloads/new-york-city-taxi-fare-prediction/ml/src/data/train/19.h5',
        '/Users/akamara/Downloads/new-york-city-taxi-fare-prediction/ml/src/data/train/12.h5',
        '/Users/akamara/Downloads/new-york-city-taxi-fare-prediction/ml/src/data/train/26.h5',
        '/Users/akamara/Downloads/new-york-city-taxi-fare-prediction/ml/src/data/train/22.h5',
        '/Users/akamara/Downloads/new-york-city-taxi-fare-prediction/ml/src/data/train/16.h5',
        '/Users/akamara/Downloads/new-york-city-taxi-fare-prediction/ml/src/data/train/23.h5',
        '/Users/akamara/Downloads/new-york-city-taxi-fare-prediction/ml/src/data/train/17.h5',
        '/Users/akamara/Downloads/new-york-city-taxi-fare-prediction/ml/src/data/train/13.h5',
        '/Users/akamara/Downloads/new-york-city-taxi-fare-prediction/ml/src/data/train/27.h5'],
       dtype='|S83')]